
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: .5rem
);

$dropdown-link-hover-bg: #f0ad4e;
$dropdown-link-hover-color: #292b2c;
$dropdown-link-color: "#f7f7f7";
$dropdown-bg:#292b2c;
$dropdown-link-active-color:"#292b2c";
$dropdown-link-active-bg:"#f0ad4e";


@import "../node_modules/bootstrap/scss/bootstrap";