@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  font-family: "Orbitron";
}


/* Dropdown arrow */
.dropdown>a::after {
  color: white;
}


.tv-button-edit {
  border: none;
  background-color: transparent;
  transition: ease 0.4s;
  font-weight: 700;
}

.popular-radius {
  background-color:#d9534f ;
  color: #fff;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.airing_today-radius {
  background-color:#d9534f ;
  color: #fff;
  height: 100%;
}

.top_rated-radius {
  background-color:#d9534f ;
  color: #fff;
  height: 100%;
  font-weight: 600;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card-loading-height {
  height: 15.4vh;
}


.trending-card-loading {
  height: 19vh;
}

.view-loading {
  width: 18rem;
  height: 30vh;
}


@media (min-width: 576px) {

  .trending-card-loading {
    height: 31.8vh;
  }
}

@media (min-width: 768px) {
  .view-loading {
    height: 39vh;
  }

  .trending-card-loading {
    height: 34vh;
  }
}

@media (min-width: 992px) {
  .trending-card-loading {
    height: 23vh;
  }

  .view-loading {
    height: 42vh;
  }

}

@media (min-width: 1200px) {
  
  .trending-card-loading {
    height: 27.4vh;
  }

  .view-loading {
    height: 30.5vh;
  }

  .card-loading-height {
    height: 12.5vh;
  }

}

@media (min-width: 1400px) {
  .view-loading {
    height: 40vh;
  }


  .trending-card-loading {
    height: 36vh;
  }

  .card-loading-height {
    height: 16.2vh;
  }
}


@media (min-width: 992px) {
  .trending-card-wrapper {
    height: 70vh;
  }
  
}



@media (min-width: 992px) {
  .trending-wrap {
    flex-wrap: wrap;
  }
}



/* Typography */

.trending-title {
  font-weight: 600;
  font-size: 8px;
}

.button-size {
  font-size: .6rem;
}


@media (min-width: 1200px) {
  .button-size {
    font-size: .7rem;
  }

  .trending-title {
    font-size: 12px;
  }
}


/* View Infos */
.poster-width {
  width: 50%;
}

.poster-loading {
  height: 30vh;
}

@media (min-width: 576px) {
  .poster-width {
    width: 100%;
    max-width: 17rem;
  }

  .poster-loading {
    height: 50vh;
  }

}

@media (min-width: 768px) {
  .poster-loading {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  .poster-loading {
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .poster-loading {
    height: 48.5vh;
  }
}

@media (min-width: 1400px) {
  .poster-loading {
    height: 55.5vh;
  }
}


/* View Infos Typography */

.details h6, .details span {
  font-size: .75rem;
  font-family: "Poppins";
}

.details h6 {
  font-weight: 700;
}


@media (min-width: 992px) {
  .details h6, .details span {
    font-size: .80rem;
    font-family: "Poppins";
  }
}

@media (min-width: 1200px) {
  .details h6, .details span {
    font-size: .95rem;
    font-family: "Poppins";
  }
}


.details span {
  font-weight: 300;
  letter-spacing: .1rem;
}


/* View Show */

.poster-bg {
  min-height: 34vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.poster-bg-loading {
  height: 34vh;
}


.text-overlays {
  min-height: 34vh;
}

@media (min-width: 576px) {
  .poster-bg {
    min-height: 44vh;
  }

  .poster-bg-loading {
    height: 44vh;
  }

  .text-overlays {
    min-height: 44vh;
  }
}


@media (min-width: 768px) {
  .poster-bg {
    min-height: 54vh;
  }

  .poster-bg-loading {
    height: 54vh;
  }

  .text-overlays {
    min-height: 54vh;
  }
}

@media (min-width: 992px) {
  .poster-bg {
    min-height: 91vh;
  }

  .poster-bg-loading {
    height: 91vh;
  }

  .text-overlays {
    min-height: 90vh;
  }
}

@media (min-width: 1200px) {
  .poster-bg {
    background-position:unset ;
    min-height: 100vh;
  }

  .poster-bg-loading {
    height: 100vh;
  }
  
  .text-overlays {
    min-height: 95vh;
  }
}


/* Info-Tv-Typography */

.info-tv h3 {
  font-weight: 800;
}


.info-tv h6 {
  font-weight: 700;
  font-size: .90rem;
}

.info-tv span {
  font-weight: 100;
  font-size: 0.75rem;
}

@media (min-width: 1200px) {
  .info-tv h3 {
    font-size: 2rem;
  }

  .info-tv h6 {
    font-size: .95rem;
  }
  
  .info-tv span {
    font-weight: 100;
    font-size: .85rem;
  }
}



.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

/* Border Radius */

.rounded-left {
  
  border-top-left-radius:.45rem ;
  border-top-right-radius: .45rem;
}

.rounded-right {
  border-bottom-left-radius: .45rem;
  border-bottom-right-radius: .45rem;
}

@media (min-width: 768px) {
  .rounded-left {
    border-radius: unset;
    border-top-left-radius: .45rem;
    border-bottom-left-radius: .45rem;
  }
  
  .rounded-right {
    border-radius: unset;
    border-top-right-radius: .45rem;
    border-bottom-right-radius: .45rem;
  }
}


/* Loading for View Person */

.person-onload {
  width: 100%;
  height: 16vh;
}

.show-onload {
  width: 100%;
  height: 21.5vh;
}

.watch-list-onload {
  width: 100%;  
}

@media (min-width: 576px) {
  .person-onload {
    height: 23.8vh;
  }
  .show-onload {
    height: 31.6vh;
  }
}

@media (min-width: 768px) {
  .person-onload {
    height: 32.1vh;
  }

  .show-onload {
    height: 31.6vh;
  }
}

@media (min-width: 992px) {
  .person-onload {
    height: 23.1vh;
  }

  .show-onload {
    height: 14.3vh;
  }
}

@media (min-width: 1200px) {
  .person-onload {
    height: 20.7vh;
  }

  .show-onload {
    height: 17vh;
  }
}

@media (min-width: 1400px) {
  .person-onload {
    height: 26.9vh;
  }
  .show-onload {
    height: 22vh;
  }
}

/* hover */
.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.07);
  cursor: pointer;
}