@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  font-family: "Orbitron";
}


/* Dropdown arrow */
.dropdown>a::after {
  color: white;
}

.card-width {
  font-size: 8px;
  max-width: 8rem;
}

.carouselHero .carousel-item img {
    object-fit: cover;
    height: 30vh;
    overflow: hidden;
}

.carousel-loading {
  background-color: #eee;
  height: 30vh;
}

.tv-button-edit {
  border: none;
  background-color: transparent;
  transition: 0.9s;
}

.popular-radius {
  background-color: blue;
  color: #ffffff;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-weight: 900;
}

.airing_today-radius {
  background-color: blue;
  color: #ffffff;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 900;
}

.top_rated-radius {
  background-color: blue;
  color: #ffffff;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: 900;
}

.card-loading-height {
  max-width: 8rem;
  height: 29vh;
}


.trending-card-loading {
  height: 13vh;
  width: 10rem;
}


@media (min-width: 768px) {
  .carouselHero .carousel-item img {
    height: 45vh;
  }

  .carousel-loading {
    height: 45vh;
  }


}

@media (min-width: 992px) {
  .carouselHero .carousel-item img {
    height: 55vh;
  }

  .carousel-loading {
    height: 55vh;
  }

  .trending-card-loading {
    height: 13vh;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .carouselHero .carousel-item img {
    height: 75vh;
  }

  .card-width {
    font-size: 12px;
    max-width: 12rem;

  }

  .carousel-loading {
    height: 75vh;
  }

  .card-loading-height {
    max-width: 20rem;
    height: 46.5vh;
  }

  .trending-card-loading {
    height: 20vh;
    width: 100%;
  }
}


.trending-card {
  max-width: 10rem;
}


@media (min-width: 992px) {
  .trending-card-wrapper {
    height: 77vh;
  }
  
}



@media (min-width: 992px) {
  .trending-wrap {
    flex-wrap: wrap;
  }
}



/* Typography */

.trending-title {
  font-weight: 600;
  font-size: 8px;
}

.button-size {
  font-size: .5rem;
}


@media (min-width: 1200px) {
  .button-size {
    font-size: .7rem;
  }
  .trending-card {
    max-width: 15rem;
  }

  .trending-title {
    font-size: 12px;
  }
}


/* View Infos */
.poster-width {
  width: 50%;
}

@media (min-width: 576px) {
  .poster-width {
    width: 100%;
    max-width: 17rem;
  }
}

/* View Infos Typography */

.details h6, .details span {
  font-size: .75rem;
  font-family: "Poppins";
}

.details h6 {
  font-weight: 700;
}


@media (min-width: 992px) {
  .details h6, .details span {
    font-size: .80rem;
    font-family: "Poppins";
  }
}

@media (min-width: 1200px) {
  .details h6, .details span {
    font-size: .95rem;
    font-family: "Poppins";
  }
}


.details span {
  font-weight: 300;
  letter-spacing: .1rem;
}


/* View Show */

.poster-bg {
  min-height: 34vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  
}

.text-overlays {
  min-height: 34vh;
}

@media (min-width: 576px) {
  .poster-bg {
    min-height: 44vh;
  }

  .text-overlays {
    min-height: 44vh;
  }
}


@media (min-width: 768px) {
  .poster-bg {
    min-height: 54vh;
  }

  .text-overlays {
    min-height: 54vh;
  }
}

@media (min-width: 992px) {
  .poster-bg {
    min-height: 91vh;
  }

  .text-overlays {
    min-height: 90vh;
  }
}

@media (min-width: 1200px) {
  .poster-bg {
    background-position:unset ;
    min-height: 100vh;
  }
  .text-overlays {
    min-height: 95vh;
  }
}


/* Info-Tv-Typography */

.info-tv h3 {
  font-weight: 800;
}


.info-tv h6 {
  font-weight: 700;
  font-size: .90rem;
}

.info-tv span {
  font-weight: 100;
  font-size: 0.75rem;
}

@media (min-width: 1200px) {
  .info-tv h3 {
    font-size: 2rem;
  }

  .info-tv h6 {
    font-size: .95rem;
  }
  
  .info-tv span {
    font-weight: 100;
    font-size: .85rem;
  }
}



/* SignIn */

